<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeCamp"
        tools:targetApi="31">
        <activity
            android:name=".Unit8_SplashScreenWithCompose.MainActivity8"
            android:exported="true"
            android:label="@string/title_activity_main8"
            android:theme="@style/Theme.ComposeCamp" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Unit7_MultiSelectLazyColumn.MainActivity7"
            android:exported="true"
            android:label="@string/title_activity_main7"
            android:theme="@style/Theme.ComposeCamp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Unit6_TextfieldButtonsShowingSnackbars.MainActivity6"
            android:exported="true"
            android:label="@string/title_activity_main6"
            android:theme="@style/Theme.ComposeCamp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Unit5_State.MainActivity5"
            android:exported="true"
            android:label="@string/title_activity_main5"
            android:theme="@style/Theme.ComposeCamp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Unit4_ImageCard.ImageCardActivity"
            android:exported="true"
            android:label="@string/title_activity_image_card"
            android:theme="@style/Theme.ComposeCamp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Unit3_Modifiers.ModifiersActivity"
            android:exported="true"
            android:label="@string/title_activity_modifiers"
            android:theme="@style/Theme.ComposeCamp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Unit2_RowsColumns.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.ComposeCamp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Unit1_FirstCompose.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeCamp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>